.saldo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .saldo-text {
    font-size: 3rem;
    color: #3880ff;
    text-align: center;
  }
  